// .card-set {
//   gap: 30px;
//   list-style: none;
//   display: flex;
//   flex-wrap: wrap;
// }

// ==============================================
// сетка с флексбокс
// ================================================
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set__item {
  flex-basis: calc((100% - var(--indent) * var(--items) - 1) / var(--items));
}

// ==============================================
// сетка с флексбокс
// ================================================
