.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 95px;

  font-family: var(--sekondary-font), sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);

  &__style-color {
    color: var(--accent-color);
  }

  @media screen and(max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;

    font-family: var(--sekondary-font), sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-text-color);

    letter-spacing: 0.03em;
  }
}

.menu {
  &__item {
    margin-right: 50px;
  }

  &__item:last-child {
    margin: 0;
  }

  &__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--main-text-color-b);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
}

.main-header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.current {
  color: var(--hover-btn-color);

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

@include mq(mobile-only) {
  .current::after {
    background-color: transparent;
  }
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style: none;
  padding: 0;

  @media screen and (max-width: 767px) {
    display: none;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  @media screen and(min-width: 768px) {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
.contacts__mail-link-header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &:hover .contacts__icon,
  &:focus .contacts__icon {
    fill: var(--accent-color);
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
    display: flex;
  }
}

.contacts__box {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 1199px) {
    margin-right: 0;
  }
}

.contacts__number-header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &:hover .contacts__icon,
  &:focus .contacts__icon {
    fill: var(--accent-color);
  }

  @media screen and (max-width: 1199px) {
    margin-right: 19px;
    display: flex;
  }
}

.contacts__icon {
  display: inline-block;
  vertical-align: middle;
  fill: #757575;
  margin-right: 7px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
