.table-h1 {
  max-width: 700px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: var(--main-text-color-w);
  letter-spacing: 0.06em;

  @media screen and (min-width: 480px) {
  }

  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.62;
  }
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero--bgcolor {
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/header__mob.jpeg);

  background-color: var(--background-color-grey);
  background-repeat: no-repeat;

  background-size: cover;
  background-position: center;

  @include mq(retina) {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/header__mob@2x.jpeg);
  }

  @include mq(tablet) {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/header__tab.jpeg);

    @include mq(retina) {
      background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/header__tab@2x.jpeg);
    }
  }

  @include mq(desktop) {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/header__desk.jpeg);

    @include mq(retina) {
      background-image: linear-gradient(
          to bottom,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/header__desk@2x.jpeg);
    }
  }
}
