.table-of-contents {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-text-color-b);
}
.paragraph-h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

.aside-list {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;

  .aside-list__table {
    @media screen and (min-width: 480px) {
      width: 450px;
      --items: 1;
    }

    @media screen and (min-width: 768px) {
      width: 354px;
      --items: 2;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;

      --items: 4;
    }
  }

  .aside-list__box-contents {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;

    @media screen and (min-width: 480px) {
      width: 450px;
      height: 120px;
    }

    @media screen and (min-width: 768px) {
      width: 354px;
      height: 120px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 120px;
    }
  }
}
